# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?

# Pow and Powder config
/.pow*

# RVM and rbenv
/.rvmrc
/.rbenv-version

# Bundler binstubs
/bin/

# Ctags files
/.tags*

# Windows preview files
Thumbs.db
