[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "diff"]
  commit = yellow
  frag = cyan
  meta = yellow
  new = green
  old = red
  plain = black
  whitespace = red reverse
[commit]
  gpgSign = true
[alias]
  b = branch
  ca = commit --amend
  ci = commit
  co = checkout
  dw = diff --word-diff
  fl = log -p
  lg = log --oneline --decorate
  sb = status -sb
  sh = !git-sh
  st = status
  who = shortlog -s --
[help]
  autocorrect = 1
[branch]
  autosetuprebase = always
[push]
  default = current
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
[merge]
  ff = only
[fetch]
  prune = true
[color "diff-highlight"]
  newHighlight = green reverse
  newNormal = green
  oldHighlight = red reverse
  oldNormal = red
[init]
  defaultBranch = main
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
