/* uol */
[class*="folha_uol_com_br"] section#article-comments.comments-article,
[class*="folha_uol_com_br"] [class*="livraria"],
[class*="folha_uol_com_br"] [class*="advertising"] {
  display: none !important;
}

/* estadao */
[class*="estadao_com_br"] #wrap-comments {
  display: none !important;
}

/* globo */
[class*="globo_com"] .comentarios,
[class*="globo_com"] .widget-comentarios {
  display: none !important;
}

/* youtube */
[class*="youtube_com"] #watch-discussion {
  display: none !important;
}

/* washington post */
[class*="washingtonpost_com"] [data-feature-id="page/comments"] {
  display: none !important;
}
