format = """
${custom.hostname} \
in $directory\
$git_branch\
$git_status\
$git_metrics\
$ruby\
$nodejs\
$golang\
$rust\
$python\
$php\
${custom.stellar_cli}
$status\\$ """

[status]
format = "[$symbol]($style) "
disabled = false
symbol = "â—"
success_symbol = ""
not_executable_symbol = ""
not_found_symbol = ""
sigint_symbol = ""
signal_symbol = ""
style = "red"

[ruby]
format = '[$symbol($version )]($style)'
symbol = "\ue21e "

[git_branch]
symbol = "\ue65d "

[git_status]
stashed = ""
format = '([$all_status$ahead_behind]($style) )'

[git_metrics]
disabled = false

[python]
symbol = "\ue73c "
style = "green"

[php]
symbol = "\ue73d "

[golang]
symbol = "\ue627 "

[nodejs]
format = '[$symbol($version )]($style)'

[rust]
style = "red"
symbol = "\ue7a8"
format = '[$symbol ($version )]($style)'

[directory]
style = "blue"
truncate_to_repo = false

[custom.hostname]
when = true
command = "hostname | cut -d. -f1"
format = '[\[$symbol($output)\]]($style)'
style = "default"

[custom.stellar_cli]
when = "(grep 'soroban-sdk' Cargo.toml &> /dev/null && which stellar &> /dev/null) || false"
command = "stellar --version | head -n1 | cut -f2 -d' '"
symbol = "\ueb44"
format = '[$symbol ($output )]($style)'
style = "blue"
