**/dist
**/node_modules/
*.cover
*.gem
*.log
*.pyc
*.pyd
*.pyo
*.swp
*~
.*.sw?
.*.yml
._*
.aws
.cache
.coverage
.coverage.*
.cvs
.DS_Store
.env
.env*
.gemtags
.git
.git*
.hypothesis
.idea
.mypy_cache
.pytest_cache
.Python
.Spotlight-V100
.svn
.tags
.tags_sorted_by_file
.tox
.Trashes
.travis
.vagrant
/.env.*
/.pow*
/.rbenv-version
/.ruby-lsp
/.rvmrc
/.tags*
/coverage
/node_modules
/target/
__pycache__
CHANGELOG.md
CODE_OF_CONDUCT.md
coverage.xml
Desktop.ini
docker-compose.yml
Dockerfile
env
nosetests.xml
npm-debug.log*
pip-delete-this-directory.txt
pip-log.txt
README.md
Thumbs.db
tmp
yarn-debug.log*
yarn-error.log*
